.app-header{
  background-color: rgba(39, 38, 38, 0.932);
  line-height: 45px;
  text-align: center;
}
label{
  font-size: 30px;
  color:rgba(240, 219, 219, 0.767);
}
input{
  margin-left:100px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  height:28px;
  line-height: 28px;
  bottom:6px;
  border-radius: 5px;
  padding:0 5px;
  width: 360px;
}