.container {
  height: calc(100vh - (90px));
  width: 600px;
  margin: 0 auto;
}

.pending {
  text-align: left;
  font-size: 25px;
  color: #000;
  font-weight: bold;
  height: 40px;
  margin: 15px 0;
}

.pending span {
  float: right;
  height: 20px;
  width:20px;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color:rgb(109, 105, 105);
  margin: auto;
  margin-top:12.5px;
  background-color: aliceblue;
  border-radius: 10px;
}
.todo-list ul li{
  list-style: none;
  text-align: left;
  height: 30px;
  line-height: 30px;
  margin:10px 0px;
  padding:0 40px;
  background-color: #fff;
  border-radius: 5px;
  border-left: 5px solid rgba(5, 97, 92, 0.459);
}
.completed ul li{
  border-left: 5px solid #999;
  opacity: 0.5;
}